*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body{
  font-family: serif;
}
.header{
  background: radial-gradient(#fff,#ffd6d6);
  }

.navbar{
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}
.nav{
  flex:1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
  padding: 20px;
  font-weight: bold;
}
a{
  text-decoration: none;
  color: #555;
}
p{
  color: #555;
}
.container{
  max-width: 1800px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.small-container{
  max-width: 1800px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  flex-basis: 100%;
}
.styled-table thead tr {
  background-color:#ff523b;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.row{
  display: flex;
  align-items: center;
}
.styled-table img{
  max-width: 100%; height: auto; width: auto\\9; /* ie8 */
}
.btn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
transition: background 0.5s;
}
.page-btn {
  margin: 0 auto 80px;

}
.page-btn span{
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover{
  background: #ff523b;
  color: #fff;
}


/*--------------------------SEARCH BOX----------------*/
.searchbox {
  border-radius: 40px;
  padding: 10px 10px 10px 10px;
}
.searchbox-txt {
  border: 1px solid  #ff523b;
  background: none;
  outline: none;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  font-weight: bold;
  border-radius: 30px;
 }
/*--------------------------HOME---------------------*/
h1{
  text-align: center;
}

/*-----------------------------FORM ADD -----------------------*/

